@model IEnumerable<FACLSchichtbericht.Models.DropdownoptionsModel>

@{
    ViewData["Title"] = "IndexDropdownoption";
}
<partial name="_navPartial" />
<h1>IndexDropdownoption</h1>

<p>
    <a asp-action="CreateDropdownoption">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Selectbezeichnung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Optionbezeichnung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Selectbezeichnung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Optionbezeichnung)
            </td>
            <td>
                <a asp-action="EditDropdownoption" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="DetailsDropdownoption" asp-route-id="@item.ID">Details</a> |
                <a asp-action="DeleteDropdownoption" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
