@model FACLSchichtbericht.Models.BerichtBU320Model

@{
    ViewData["Title"] = "Edit";
}
@{
    var bericht = ViewData.Model;
}
<partial name="_NavPartial" />

<h1>
    Bearbeitung Bericht BU 320<br />
</h1>
<h6 class="card-title text-muted">Referenznummer: @Model.ID vom @(Model.schichtdatum.ToLongDateString() ) ,  @(Model.schichttyp + "schicht").  </h6>

<hr />

<form asp-action="EditBerichtBU320">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />


    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Bericht
                    </button>
                </h5>

            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="container">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label asp-for="Leihscanner" class="control-label"></label>
                                <input asp-for="Leihscanner" class="form-control" />
                                <span asp-validation-for="Leihscanner" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-md-2">
                                <label asp-for="Leihstapler" class="control-label"></label>
                                <input asp-for="Leihstapler" class="form-control" />
                                <span asp-validation-for="Leihstapler" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-md-2">
                                <label asp-for="CDSStandard" class="control-label"></label>
                                <input asp-for="CDSStandard" class="form-control" />
                                <span asp-validation-for="CDSStandard" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-md-2">
                                <label asp-for="CDSDGR" class="control-label"></label>
                                <input asp-for="CDSDGR" class="form-control" />
                                <span asp-validation-for="CDSDGR" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-md-2">
                                <label asp-for="Arbeitsunfall" class="control-label"></label>
                                <Select asp-for="Arbeitsunfall" class="form-control">
                                    <option value="Nein">Nein</option>
                                    <option value="Ja">Ja</option>
                                </Select>
                                <span asp-validation-for="Arbeitsunfall" class="text-danger"></span>
                            </div>
                            <div class="form-group  col-md-2">
                                <label asp-for="schichtbeurteilung" class="control-label">Schichtbeurteilung</label>
                                <Select asp-for="schichtbeurteilung" class="form-control">
                                    <option value="Mittel">Mittel</option>
                                    <option value="Gut">Gut</option>
                                    <option value="Schlecht">Schlecht</option>

                                </Select>
                                <span asp-validation-for="schichtbeurteilung" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <h4 class="text-danger"> Personal</h4>
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Soll</th>
                                            <th scope="col">Ist</th>
                                            <th scope="col"> Krank</th>
                                            <th scope="col">Zusatzstunden</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Supervisor</th>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="SupervisorSoll" class="control-label"></label>*@
                                                    <input asp-for="SupervisorSoll" class="form-control" readonly />
                                                    <span asp-validation-for="SupervisorSoll" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="SupervisorIst" class="control-label"></label>*@
                                                    <input asp-for="SupervisorIst" class="form-control" />
                                                    <span asp-validation-for="SupervisorIst" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="SupervisorKrank" class="control-label"></label>*@
                                                    <input asp-for="SupervisorKrank" class="form-control" />
                                                    <span asp-validation-for="SupervisorKrank" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="SupervisorZusatz" class="control-label"></label>*@
                                                    <input asp-for="SupervisorZusatz" class="form-control" />
                                                    <span asp-validation-for="SupervisorZusatz" class="text-danger"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Teamlead</th>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="TeamleadSoll" class="control-label"></label>*@
                                                    <input asp-for="TeamleadSoll" class="form-control" readonly />
                                                    <span asp-validation-for="TeamleadSoll" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="TeamleadIst" class="control-label"></label>*@
                                                    <input asp-for="TeamleadIst" class="form-control" />
                                                    <span asp-validation-for="TeamleadIst" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="TeamleadKrank" class="control-label"></label>*@
                                                    <input asp-for="TeamleadKrank" class="form-control" />
                                                    <span asp-validation-for="TeamleadKrank" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="TeamleadZusatz" class="control-label"></label>*@
                                                    <input asp-for="TeamleadZusatz" class="form-control" />
                                                    <span asp-validation-for="TeamleadZusatz" class="text-danger"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Palettierer</th>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="PalettiererSoll" class="control-label"></label>*@
                                                    <input asp-for="PalettiererSoll" class="form-control" readonly />
                                                    <span asp-validation-for="PalettiererSoll" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="PalettiererIst" class="control-label"></label>*@
                                                    <input asp-for="PalettiererIst" class="form-control" />
                                                    <span asp-validation-for="PalettiererIst" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="PalettiererKrank" class="control-label"></label>*@
                                                    <input asp-for="PalettiererKrank" class="form-control" />
                                                    <span asp-validation-for="PalettiererKrank" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="PalettiererZusatz" class="control-label"></label>*@
                                                    <input asp-for="PalettiererZusatz" class="form-control" />
                                                    <span asp-validation-for="PalettiererZusatz" class="text-danger"></span>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Abfertiger</th>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="AbfertigerIst" class="control-label"></label>*@
                                                    <input asp-for="AbfertigerSoll" class="form-control" readonly />
                                                    <span asp-validation-for="AbfertigerSoll" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>

                                                <div class="form-group">
                                                    @*<label asp-for="AbfertigerSoll" class="control-label"></label>*@
                                                    <input asp-for="AbfertigerIst" class="form-control" />
                                                    <span asp-validation-for="AbfertigerIst" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="AbfertigerKrank" class="control-label"></label>*@
                                                    <input asp-for="AbfertigerKrank" class="form-control" />
                                                    <span asp-validation-for="AbfertigerKrank" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="AbfertigerZusatz" class="control-label"></label>*@
                                                    <input asp-for="AbfertigerZusatz" class="form-control" />
                                                    <span asp-validation-for="AbfertigerZusatz" class="text-danger"></span>
                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>



                            </div>
                            <div class="col">
                                <h4 class="text-danger">Produktivität</h4>
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th scope="col">Menge</th>
                                            <th scope="col">MA Stunden</th>
                                            <th scope="col">Produktivität</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">abgefertigt AKH </th>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="ULDMengeMenge" class="control-label"></label>*@
                                                    <input asp-for="AKHMengeMenge" class="form-control" />
                                                    <span asp-validation-for="AKHMengeMenge" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="ULDMengeMAStunden" class="control-label"></label>*@
                                                    <input asp-for="AKHMengeMAStunden" class="form-control" readonly />
                                                    <span asp-validation-for="AKHMengeMAStunden" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="ULDMengeProdu" class="control-label"></label>*@
                                                    <input asp-for="AKHMengeProdu" class="form-control" readonly />
                                                    <span asp-validation-for="AKHMengeProdu" class="text-danger"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">abgefertigt AKH KG</th>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="AKHKG" class="control-label"></label>*@
                                                    <input asp-for="AKHKGMenge" class="form-control" />
                                                    <span asp-validation-for="AKHKGMenge" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="AKHKGMAStunden" class="control-label"></label>*@
                                                    <input asp-for="AKHKGMAStunden" class="form-control" readonly />
                                                    <span asp-validation-for="AKHKGMAStunden" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="AKHKGProdu" class="control-label"></label>*@
                                                    <input asp-for="AKHKGProdu" class="form-control" readonly />
                                                    <span asp-validation-for="AKHKGProdu" class="text-danger"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">abgefertigt BELLY </th>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="BellyMengeMenge" class="control-label"></label>*@
                                                    <input asp-for="BellyMengeMenge" class="form-control" />
                                                    <span asp-validation-for="BellyMengeMenge" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="BellyMengeMAStunden" class="control-label"></label>*@
                                                    <input asp-for="BellyMengeMAStunden" class="form-control" readonly />
                                                    <span asp-validation-for="BellyMengeMAStunden" class="text-danger"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    @*<label asp-for="BellyMengeProdu" class="control-label"></label>*@
                                                    <input asp-for="BellyMengeProdu" class="form-control" readonly />
                                                    <span asp-validation-for="BellyMengeProdu" class="text-danger"></span>
                                                </div>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <input type="submit" value="Jetzt Speichern" class="btn btn-danger btn-lg btn-block" />

                        </div>
                        <div class="row" hidden="hidden">
                            <div class="form-group">
                                <label asp-for="zuletztbearbeitetvon" class="control-label"></label>
                                <input asp-for="zuletztbearbeitetvon" value="@User.Identity.Name" class="form-control" />
                                <span asp-validation-for="zuletztbearbeitetvon" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="zuletztbearbeitetam" class="control-label"></label>
                                <input asp-for="zuletztbearbeitetam" value="@DateTime.Now" class="form-control" />
                                <span asp-validation-for="zuletztbearbeitetam" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="istfreigegeben" class="control-label"></label>
                                <input asp-for="istfreigegeben" value="false" class="form-control" />
                                <span asp-validation-for="istfreigegeben" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="istabgeschlossen" class="control-label"></label>
                                <input asp-for="istabgeschlossen" class="form-control" />
                                <span asp-validation-for="istabgeschlossen" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <label asp-for="schichttyp" class="control-label"></label>
                                <input asp-for="schichttyp" class="form-control" />
                                <span asp-validation-for="schichttyp" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="erstelltam" class="control-label"></label>
                                <input asp-for="erstelltam" class="form-control" />
                                <span asp-validation-for="erstelltam" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="erstelltvon" class="control-label"></label>
                                <input asp-for="erstelltvon" class="form-control" />
                                <span asp-validation-for="erstelltvon" class="text-danger"></span>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Personal
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div>
                        <input type="button" id="addpersonal" class="btn btn-danger" value="Peronsal aktualisieren" />
                    </div>
                    <p />
                    <table id="personalplan" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>PK</th>
                                <th>Name</th>
                                <th>Vorname</th>
                                <th>Jobtitel</th>
                                <th>Einsatz als</th>
                                <th>anwesend</th>
                                <th>Mehrarbeit genehmight</th>
                                <th>Bemerkung</th>
                                <th>Aktion</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>PK</th>
                                <th>Name</th>
                                <th>Vorname</th>
                                <th>Jobtitel</th>
                                <th>Einsatz als</th>
                                <th>anwesend</th>
                                <th>Mehrarbeit genehmight</th>
                                <th>Bemerkung</th>
                                <th>Aktion</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Actiontracker
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="flex-column">
                            @*<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#CreateActiontracker">
                                    Actiontrackereintrag zum Bericht verfassen.
                                </button>*@
                            <a asp-action="CreateActiontracker">Neuen Actiontrackereintrag anlegen >></a>
                        </div>
                    </div>
                    <table id="actiontracker" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Topic</th>
                                <th>Priorität</th>
                                <th>Von</th>
                                <th>Bis</th>
                                <th>Beschreibung</th>
                                <th>Maßnahme</th>
                                <th>Aktion</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Topic</th>
                                <th>Priorität</th>
                                <th>Von</th>
                                <th>Bis</th>
                                <th>Beschreibung</th>
                                <th>Maßnahme</th>
                                <th>Aktion</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <div class="card">
            <div id="headingFour" class="card-header">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Flugplan
                </button>
            </div>
            <div id="collapseFour" class="collapse">
                <table id="tblflugplan" class="table dataTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Flug</th>
                            <th>Departue</th>
                            <th>Reg</th>
                            <th>Extra</th>
                            <th>USG13</th>
                            <th>FACL</th>
                            <th>BCL</th>
                            <th>Dest</th>
                            <th>Einheit gebaut</th>
                            <th>Einheit offen</th>
                            <th>TPV/Offload</th>
                            <th>Kommentare</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Flug</th>
                            <th>Departue</th>
                            <th>Reg</th>
                            <th>Extra</th>
                            <th>USG13</th>
                            <th>FACL</th>
                            <th>BCL</th>
                            <th>Dest</th>
                            <th>Einheit gebaut</th>
                            <th>Einheit offen</th>
                            <th>TPV/Offload</th>
                            <th>Kommentare</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


</form>
<hr />
<!-- Button trigger modal abschließen -->

<div class="row">
    <div class="container">
        <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#abschließenModal">
            Bericht abschließen.
        </button>
    </div>
</div>
<!-- Modal abschließen-->
<div class="modal fade" id="abschließenModal" tabindex="-1" role="dialog" aria-labelledby="abschließenModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="abschließenModal">Bericht abschließen.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="card-text">
                    Möchten Sie den Bericht entgültig abschließen?
                    <br />                <br />


                    Alle Einträge im Actiontracker und alle Einträge im Personalplan, die zu diesem Bericht gehören, werden alle als abgeschlossen gespeichert und können dann nicht mehr bearbeite werden.

                </p>

            </div>

            <div class="modal-footer">
                <form asp-action="AbschließenBerichtBD420">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div>
                        <div class="form-group">
                            <input type="hidden" asp-for="istabgeschlossen" value="true" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="abgeschlossenam" value="@DateTime.Now" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="abgeschlossenvon" value="@User.Identity.Name" class="form-control" />
                        </div>
                    </div>
                    <input type="submit" value="Bericht entgültig abschließen!" class="btn btn-primary " />

                </form>
            </div>
        </div>
    </div>
</div>


<hr />


<div>
    <a asp-action="IndexBerichtBD420">Back to List</a>
</div>

<!-- Modal create Actiontracker-->
<div class="modal fade" id="CreateActiontracker" tabindex="-1" role="dialog" aria-labelledby="CreateActiontracker" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateActiontracker">Bericht abschließen.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">


        $('#addpersonal').click( function ()
        {

            var Id = @bericht.ID;
            var schichttyp = "@Html.Raw(@bericht.schichttyp)";
            var datum = "@bericht.schichtdatum.ToShortDateString()";

            $.ajax(
                {
                    url: '@Url.Action("AddPersonalBerichtBU320")',
                    data: { 'id': Id, 'schichttyp': schichttyp, 'schichtdatum': datum },
                    type: "POST",
                    chache: false,
                    success: function (data) {
                        alert("Personal erfolgreich aktualisiert! Die Seite wird neu geladen.");
                        location.reload();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    }

                });

        });


    //personalplan

    $(document).ready(function () {
        $('#personalplan').DataTable({
            "ajax": {
                "url": "/Supervisor/GetDataPersonalplanBerichtBU320_ID/@bericht.ID",
                "type": "GET",
                "datatype" : "json"
            },
            "columns": [
                { "data": "pk" },
                { "data": "nachname" },
                { "data": "vorname" },
                { "data": "jobtitel" },
                { "data": "einsatzals" },
                { "data": "anwesend" },
                { "data": "mehrarbeitgenehmight"},
                { "data": "bemerkung" },
                {
                  "data": "id",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a href="@Url.Content("~/Supervisor/EditPersonalplan/")' + data + '">Edit</a> | <a href="@Url.Content("~/Supervisor/DetailsPersonalplan/")' + data + '">Details</a>';
                        }

                        return data;
                    }
                }
            ]

        });
    });
    //actiontracker
    $(document).ready(function () {
        $('#actiontracker').DataTable({
            "ajax": {
                "url": "/Supervisor/GetDataActiontrackerBerichtBU320_ID/@bericht.ID",
                "type": "GET",
                "datatype" : "json"
            },
            "columns": [
                { "data": "action" },
                { "data": "priorität" },
                { "data": "von" },
                { "data": "bis" },
                { "data": "beschreibung" },
                { "data": "maßnahme" },
                {
                    "data": "id",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data ='<a href="@Url.Content("~/Supervisor/EditActiontracker/")' + data + '">Edit</a> | <a href="@Url.Content("~/Supervisor/DetailsActiontracker/")' + data + '">Details</a>';
                        }

                        return data;
                    }
                }
            ]



        });
    });

    //Berechnung Reaktion personalbedarf

        $(document).ready(function (calc) {
            //debugger
            window.onkeyup = keyup;

            var teamleadIst;
            var palettiererIst;
            var abfertigerIst;

            var akhMenge;
            var akhKgMenge;
            var bellyMenge


            var uldProdu;
            var kgProdu;
            var bellyProdu

            var personalges;
            var maStunden;
            teamleadIst = Number(document.getElementById("TeamleadIst").value);
            palettiererIst = Number(document.getElementById("PalettiererIst").value);
            abfertigerIst = Number(document.getElementById("AbfertigerIst").value);
            akhMenge = Number(document.getElementById("AKHMengeMenge").value);
            akhKgMenge = Number(document.getElementById("AKHKGMenge").value);
            bellyMenge = Number(document.getElementById("BellyMengeMenge").value);


            personalges = teamleadIst + palettiererIst + abfertigerIst;
            maStunden = personalges * 7.5;
            akhProdu = akhMenge / maStunden;
            akhkgProdu = akhKgMenge / maStunden;
            bellyProdu = bellyMenge / maStunden;

            document.getElementById("AKHMengeProdu").value = Math.round((akhProdu + Number.EPSILON) * 100) / 100;
            document.getElementById("AKHKGProdu").value = Math.round((akhkgProdu + Number.EPSILON) * 100) / 100;
            document.getElementById("AKHMengeMAStunden").value = Math.round((maStunden + Number.EPSILON) * 100) / 100;
            document.getElementById("AKHKGMAStunden").value = Math.round((maStunden + Number.EPSILON) * 100) / 100;
            document.getElementById("BellyMengeMAStunden").value = Math.round((maStunden + Number.EPSILON) * 100) / 100;
            document.getElementById("BellyMengeProdu").value = Math.round((bellyProdu + Number.EPSILON) * 100) / 100;


            function keyup(e) {

                akhMenge = Number(document.getElementById("AKHMengeMenge").value);
                akhKgMenge = Number(document.getElementById("AKHKGMenge").value);
                bellyMenge = Number(document.getElementById("BellyMengeMenge").value);
                teamleadIst = Number(document.getElementById("TeamleadIst").value);
                palettiererIst = Number(document.getElementById("PalettiererIst").value);
                abfertigerIst = Number(document.getElementById("AbfertigerIst").value);

                personalges = teamleadIst + palettiererIst + abfertigerIst;
                maStunden = personalges * 7.5;
                akhProdu = akhMenge / maStunden;
                akhkgProdu = akhKgMenge / maStunden;
                bellyProdu = bellyMenge / maStunden;

                document.getElementById("AKHMengeProdu").value = Math.round((akhProdu + Number.EPSILON) * 100) / 100;
                document.getElementById("AKHKGProdu").value = Math.round((akhkgProdu + Number.EPSILON) * 100) / 100;
                document.getElementById("AKHMengeMAStunden").value = Math.round((maStunden + Number.EPSILON) * 100) / 100;
                document.getElementById("AKHKGMAStunden").value = Math.round((maStunden + Number.EPSILON) * 100) / 100;
                document.getElementById("BellyMengeMAStunden").value = Math.round((maStunden + Number.EPSILON) * 100) / 100;
                document.getElementById("BellyMengeProdu").value = Math.round((bellyProdu + Number.EPSILON) * 100) / 100;


            }
        });

    </script>

}

