@model IEnumerable<FACLSchichtbericht.Models.BerichtBCLPositionModel>
<partial name="_NavPartial" />
<h1>Offene BCL-Berichte</h1>
<p>
    <a asp-action="CreateBerichtBCLPosition">Neuen BCL-Bericht anlegen >></a> || <a asp-action="IndexBerichtBCLPositionabgeschlossen"> abgeschlossene BCL-Berichte</a>
</p>
<div class="card">
    <div class="card-header"> BCL Berichte</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Referenznummer</th>
                    <th>Datum</th>
                    <th>Schicht</th>
                    <th>Schichtbeurteilung</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.schichtdatum</td>
                    <td>@item.schichttyp</td>
                    <td>@item.schichtbeurteilung</td>
                    <td>
                        <a asp-action="EditBerichtBCLPosition" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="DetailsBerichtBCLPosition" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="DeleteBerichtBCLPosition" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="card-footer"> </div>
</div>